<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project X</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <li><a href="/profile">Dashboard</a></li>
                <li><a href="/create_eve">Create Event</a></li>

              <li><div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                           <span class="glyphicon glyphicon-user">{{session.username}}</span> </button>
                         <!--div class="dropdown-menu">
                              <a class="Action" href="#">Change Username</a>
                              <a class="dropdown-item" href="#">change Password</a>
                              <a class="dropdown-item" href="#">Add Credit Card</a>
                              <a class="dropdown-item" href="/logout">Logout</a>
                              <span class="dropdown-item-text">Just Text</span>
                            </div-->
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Change Username</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Add Credit Card</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                            </ul>
                           </div>
                  <!-- Add Icon for the Profile section-->
                    
                </li>

            {% else %}
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
