<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Project X</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create_event">Create Event</a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{session.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/ch-uname">Change Username</a>
          <a class="dropdown-item" href="#">Change Password</a>
        <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}

    </ul>
  </div>
</nav>

<!--
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project X</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <li><a href="/profile">Dashboard</a></li>
                <li><a href="/create_event">Create Event</a></li>

              <li><div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                           <span class="glyphicon glyphicon-user">{{session.username}}</span> </button>
                         <!--div class="dropdown-menu">
                              <a class="Action" href="#">Change Username</a>
                              <a class="dropdown-item" href="#">change Password</a>
                              <a class="dropdown-item" href="#">Add Credit Card</a>
                              <a class="dropdown-item" href="/logout">Logout</a>
                              <span class="dropdown-item-text">Just Text</span>
</div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="/ch-uname">Change Username</a></li>
                            <li><a href="/ch-passwd">Change Password</a></li>
                            <li><a href="#">Add Credit Card</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                            </ul>
                           </div>
                  <!-- Add Icon for the Profile sectio
                    
                </li>

            {% else %}
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse 
      </div>
</nav>-->
