{% extends 'base.html' %}
{% block body %}
<div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">{{event.address_line1}}</p>
            <p class="card-text">{{event.event_date}}</p>
            <p class="card-text">{{event.event_time}}</p>
            <p class="card-text">{{event.terms_and_condition}}</p>
            <p class="card-text">{{event.address_line1}}</p>
            <p><b class="card-text">Price:{{event.ticket_price}}</b></p>
            <p class="card-text">{{event.email}}</p>
            <p class="card-text">{{event.contact_no}}</p>
            
            <a href="/book_event/{{event._id}}" class="btn btn-primary">Book Event</a>
          </div>
{% endblock %}
