{% extends 'base.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}, {{type}}</small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Event Title</th>
      <th>Description</th>
      <th>Event Category</th>
      <th>Event Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in data %}
      <tr>
        <td>{{data.username}}</td>
        <td>{{data.password}}</td>
        <td>{{data.preference1}}</td>
        <td>{{data.state}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
